@model Events.Models.EventsDetailsViewModel

@{
    ViewData["Title"] = "Osavõtjad";
}

<!-- HERO HEADER -->
<partial name="_TinyHeaderPartial" />

<!-- HERO -->
<div class="bg-white mb-4">
    <div class="col-xl-5 mx-auto p-4">
        <h4 style="color: var(--bg);">@ViewData["Title"]</h4>
        <div class="row p-1 g-0">
            <div class="form-group row p-1">
                <h4 class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.Events.Nimi):</h4>
                <div class="col-sm-8 col-form-label">@Html.DisplayFor(model => model.Events.Nimi)</div>
            </div>
            <div class="form-group row p-1">
                <h4 class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.Events.Toimumisaeg):</h4>
                <div class="col-sm-8 col-form-label">@Model.Events.Toimumisaeg.ToString("dd.MM.yyyy")</div>
            </div>
            <div class="form-group row p-1">
                <h4 class="col-lg-4 col-form-label">@Html.DisplayNameFor(model => model.Events.Koht):</h4>
                <div class="col-sm-8 col-form-label">@Html.DisplayFor(model => model.Events.Koht)</div>
            </div>
            <div class="form-group row p-1">
                <h4 class="col-lg-4 col-form-label">@ViewData["Title"]:</h4>
            </div>
        </div>
    </div>

    @for (var i = 0; i < Model.privateParticipants.Count(); i++)
    {
    <small>
        <div class="row g-0 p-1 col-sm-8 ms-auto">
            <div class="col py-1 px-3">
                @i. @Html.DisplayFor(modelItem => modelItem.privateParticipants[i].Eesnimi)
            </div>
            <div class="col py-1 px-3">
                    @Html.DisplayFor(modelItem => modelItem.privateParticipants[i].Isikukood)
            </div>
            <div class="col py-1 opacity-50 px-3">
                <form asp-route-id="@Model.privateParticipants[i].PrivateId" asp-action="DeletePrivateParticipant" method="post">
                        <a class="px-3 text-decoration-none text-uppercase text-dark fw-bold" asp-route-id="@Model.privateParticipants[i].PrivateId" asp-action="PrivateParticipant">Vaata</a>
                   <a href="javascript:{}" onclick="this.closest('form').submit(); return false;" class="px-3 text-decoration-none text-uppercase text-dark fw-bold">Kustuta</a>
                </form>
            </div>
        </div>
    </small>
    }

    @for (var i = 0; i < Model.companyParticipants.Count(); i++)
    {
        <small>
            <div class="row g-0 p-1 col-sm-8 ms-auto">
                <div class="col py-1 px-3">
                    @i. @Html.DisplayFor(modelItem => modelItem.companyParticipants[i].Nimi)
                </div>
                <div class="col py-1 px-3">
                    @Html.DisplayFor(modelItem => modelItem.companyParticipants[i].Registrikood)
                </div>
                <div class="col py-1 opacity-50 px-3">
                    <form asp-route-id="@Model.companyParticipants[i].CompanyId" asp-action="DeleteCompanyParticipant" method="post">
                        <a class="px-3 text-decoration-none text-uppercase text-dark fw-bold" asp-route-id="@Model.companyParticipants[i].CompanyId" asp-action="CompanyParticipant">Vaata</a>
                        <a href="javascript:{}" onclick="this.closest('form').submit(); return false;" class="px-3 text-decoration-none text-uppercase text-dark fw-bold">Kustuta</a>
                    </form>
                </div>
            </div>
        </small>
    }

    <div class="col-xl-5 mx-auto p-4">
        <h4 style="color: var(--bg);">Osavõtjate lisamine</h4>
            <div class="form-group row p-1">
                <div class="col-lg-4 col-form-label"></div>
                <div class="col-sm-8 px-3 py-1">
                    <div class="form-check form-check-inline pe-5">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="eraisik" onclick="checkRadio()">
                        <label class="form-check-label" for="inlineRadio1">Eraisik</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="juriidiline" onclick="checkRadio()">
                        <label class="form-check-label" for="inlineRadio2">Ettevõte</label>
                    </div>
                </div>
            </div>

        <partial name="_PrivateParticipantsPartial" model="Model" />
        <partial name="_CompanyParticipantsPartial" model="Model" />
    </div>
</div>

<!-- SCRIPTS FOR THIS PAGE -->
<script>

    if(localStorage.getItem("juriidiline")) 
    {
        document.querySelector('#inlineRadio2').checked = true;
        document.getElementById("eraisik").style.display = "none";
        document.getElementById("juriidiline").style.display = "initial";
    } else {
        document.querySelector('#inlineRadio1').checked = true;
        document.getElementById("juriidiline").style.display = "none";
        document.getElementById("eraisik").style.display = "initial";
    }

</script>