@model Events.Models.EventsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Eesnimi
            </th>
            <th>
                Perekonnanimi
            </th>
            <th>
                Isikukood/Registrikood
            </th>
            <th>
                Maksmisviis
            </th>
            <th>
                Lisainfo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.privateParticipants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Eesnimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perekonnanimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isikukood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maksmisviis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lisainfo)
                </td>
            </tr>
        }
        @foreach (var item in Model.companyParticipants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registrikood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osavõtjate_arv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maksmiseviis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lisainfo)
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Add New Participants</h4>
<hr />

<div class="row">
    <partial name="_PrivateParticipantsPartial" model="Model"/>
    <partial name="_CompanyParticipantsPartial" model="Model" />
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Events?.Id">Edit</a> |
    <a asp-action="Admin">Back to List</a>
</div>
