@model Events.Models.EventsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Eesnimi
            </th>
            <th>
                Perekonnanimi
            </th>
            <th>
                Isikukood/Registrikood
            </th>
            <th>
                Maksmisviis
            </th>
            <th>
                Lisainfo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.privateParticipants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Eesnimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perekonnanimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isikukood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maksmisviis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lisainfo)
                </td>
            </tr>
        }
        @foreach (var item in Model.companyParticipants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registrikood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osavõtjate_arv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maksmiseviis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lisainfo)
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Add New Private Participants</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("CreatePrivateParticipant")" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventsId" value="@Model.Events.Id" />
            <div class="form-group">
                <label asp-for="privateParticipantsModel.Eesnimi" class="control-label"></label>
                <input asp-for="privateParticipantsModel.Eesnimi" class="form-control" />
                <span asp-validation-for="privateParticipantsModel.Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateParticipantsModel.Perekonnanimi" class="control-label"></label>
                <input asp-for="privateParticipantsModel.Perekonnanimi" class="form-control" />
                <span asp-validation-for="privateParticipantsModel.Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateParticipantsModel.Isikukood" class="control-label"></label>
                <input asp-for="privateParticipantsModel.Isikukood" class="form-control" />
                <span asp-validation-for="privateParticipantsModel.Isikukood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateParticipantsModel.Maksmisviis" class="control-label"></label>
                <select asp-for="privateParticipantsModel.Maksmisviis" class="form-select">
                    <option>Sularaha</option>
                    <option>Pangaülekanne</option>
                </select>
                <span asp-validation-for="privateParticipantsModel.Maksmisviis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateParticipantsModel.Lisainfo" class="control-label"></label>
                <input asp-for="privateParticipantsModel.Lisainfo" class="form-control" />
                <span asp-validation-for="privateParticipantsModel.Lisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form action="@Url.Action("CreateCompanyParticipant")" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventsId" value="@Model.Events.Id" />
            <div class="form-group">
                <label asp-for="companyParticipantsModel.Nimi" class="control-label"></label>
                <input asp-for="companyParticipantsModel.Nimi" class="form-control" />
                <span asp-validation-for="companyParticipantsModel.Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyParticipantsModel.Registrikood" class="control-label"></label>
                <input asp-for="companyParticipantsModel.Registrikood" class="form-control" />
                <span asp-validation-for="companyParticipantsModel.Registrikood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyParticipantsModel.Osavõtjate_arv" class="control-label"></label>
                <input asp-for="companyParticipantsModel.Osavõtjate_arv" class="form-control" />
                <span asp-validation-for="companyParticipantsModel.Osavõtjate_arv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyParticipantsModel.Maksmiseviis" class="control-label"></label>
                <select asp-for="companyParticipantsModel.Maksmiseviis" class="form-select">
                    <option>Sularaha</option>
                    <option>Pangaülekanne</option>
                </select>
                <span asp-validation-for="companyParticipantsModel.Maksmiseviis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyParticipantsModel.Lisainfo" class="control-label"></label>
                <input asp-for="companyParticipantsModel.Lisainfo" class="form-control" />
                <span asp-validation-for="companyParticipantsModel.Lisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Events?.Id">Edit</a> |
    <a asp-action="Admin">Back to List</a>
</div>
