@model IEnumerable<Events.Models.AddEvents>

@{
    int i = 1;

    ViewData["Title"] = "Avaleht";
}

<!-- HERO 1 -->
<div class="row g-0">
    <div class="col bg py-5">
        <h4 class="p-5 text-center text-white">
            Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis ex.
            Vestibulum rutrum <b>neque suscipit</b> ante mattis maximus. Nulla non sapien <b>viverra, lobortis lorem non,</b> accumsan metus.
        </h4>
    </div>
    <div class="col">
        <img src="~/img/pilt.jpg" class="w-100 h-100" alt="Pilt">
    </div>
</div>

<!-- HERO 2 -->
<div class="row g-0 py-4">
    <div class="col me-3 bg-white">
        <h4 class="bg py-3 text-center text-white">Tulevased üritused</h4>
        @foreach (var item in Model.OrderBy(item => item.Toimumisaeg))
        {
            @if (item.Toimumisaeg > DateTime.Now)
            {
                <small>
                    <div class="row g-0 px-4">
                        <div class="col p-1">
                            @(i++). @Html.DisplayFor(modelItem => item.Nimi)
                        </div>
                        <div class="col col-lg-2 p-1 d-flex align-items-start justify-content-center">
                            @item.Toimumisaeg.ToString("dd.MM.yyyy")
                        </div>

                        <form class="col col-lg-3 p-1 d-flex align-items-start justify-content-end" asp-route-id="@item.Id" asp-action="Delete" method="post">
                            <a asp-action="Details" asp-controller="Participants" asp-route-id="@item.Id" class="text-decoration-none opacity-50 text-uppercase text-dark fw-bold">Osavõtjad</a>
                            <input type="image" src="../Img/remove.svg" width="24" height="24" asp-for="@item.Id" class="ps-2 opacity-50" />
                        </form>
                    </div>
                </small>
            }
        }

        @foreach (var item in Model)
        {
            @if (DateTime.Now > item.Toimumisaeg)
            {
                <div class="p-3"></div>
            }
        }

        <div class="p-3">
            <a class="text-uppercase text-dark fw-bold opacity-50 text-decoration-none" asp-controller="AddEvents" asp-action="Index">Lisa üritus</a>
        </div>

    </div>


    @{
        i = 1;
    }
    <div class="col ms-3 bg-white">
        <h4 class="bg py-3 text-center text-white">Toimunud üritused</h4>
        @foreach (var item in Model.OrderByDescending(item => item.Toimumisaeg))
        {
            @if (DateTime.Now > item.Toimumisaeg)
            {
                <small>
                    <div class="row g-0 px-4">
                        <div class="col p-1">
                            @(i++). @Html.DisplayFor(modelItem => item.Nimi)
                        </div>
                        <div class="col col-lg-2 p-1 d-flex align-items-start justify-content-center">
                            @item.Toimumisaeg.ToString("dd.MM.yyyy")
                        </div>
                        <div class="col col-lg-3 p-1 d-flex align-items-start justify-content-end opacity-50">
                            <a class="text-decoration-none text-uppercase text-dark fw-bold" asp-action="Details" asp-controller="Participants" asp-route-id="@item.Id">Osavõtjad</a>
                        </div>
                    </div>
                </small>
            }
        }
    </div>
</div>