@model Events.Models.PrivateParticipants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrivateParticipants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eesnimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eesnimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perekonnanimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perekonnanimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isikukood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isikukood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maksmisviis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maksmisviis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lisainfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lisainfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
