@model IEnumerable<Events.Models.PrivateParticipants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perekonnanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isikukood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maksmisviis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisainfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perekonnanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isikukood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maksmisviis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisainfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrivateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrivateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrivateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
