@model Events.Models.CompanyParticipants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyParticipants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registrikood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registrikood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osavõtjate_arv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osavõtjate_arv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maksmiseviis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maksmiseviis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lisainfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lisainfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
